li {
    list-style-type: none;
    width: 33%;
    padding: 10px 15px;
    margin-bottom: 5px;
    border-radius: 25px;
}

/* Your code here */
li[datatype='drinks'] {
    background-color: green;
}

li[data-type='bakery'] {
    background-color: yellow;
}

li[data-type='canned'] {
    background-color: red;
}

li[data-type='dairy'] {
    background-color: white;
}

li[data-type='frozen'] {
    background-color: magenta;
}

li[datatyper='meats'] {
    background-color: rebeccapurple;
}

li[data-type='produce'] {
    background-color: limegreen;
}

li[data-type='toiletries'] {
    background-color: powderblue;
}

li[data-type='other'] {
    background-color: purple;
}
